{% extends "base.html" %}

{% block js %}
    {{ block.super }} {# includes previous content in block #}
    <script src="/static/js/select2/select2.full.min.js"></script>
    <script src="/static/js/chartjs/utils.js"></script>
    <script src="/static/js/index-00000.js" type="text/javascript"></script>


{% endblock %}

{% block style %}
{{ block.super }}
<style>
    .chart {
      width: 100%;
      min-height: 700px;
    }


</style>

{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block header %}
Welcome {{ request.user.username }}
{% endblock %}

{% block details %}
Groups:
{% for i in request.user.groups.all %}
{{ i.name }}
{% endfor %}
{% endblock %}
{% block content %}


<div class="row border-bottom white-bg dashboard-header row-eq-height ">

    <div class="col-lg-12">
        <label for="domain">Domain Search:</label>
        <br/>
        <label for="domain">功能说明： 输入用户不能访问/访问慢域名， 会随机显示其他服务器的域名</label>
        <input class="form-control" id="domain" maxlength="60" placeholder="Input Domain" style="text-align:center">
    </div>
    <div class="col-lg-12"  style="padding-top:5px">
        <center>
            <button class="btn btn-primary text-center" onclick="searchDomain(this)">
                <i class="fa fa-search"></i> Search
            </button>
        </center>
    </div>
    <input id="clip" style="display:none">
    <div class="col-lg-12" id="searchResults" style="padding-top:5px"></div>

</div>





{% endblock %}