{% extends "dashboard.html" %}
{% load crispy_forms_tags %}


{% block style %}
<link rel="stylesheet" href="/static/dropzone/dist/dropzone.css">
<link rel="stylesheet" href="/static/dropzone/dist/style.css">
<link rel="stylesheet" href="/static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
{% endblock style %}


{% block pagetitle %}{{ system_name }}{% endblock pagetitle %}

{% block endtitlepage %}{{ system_name }}{% endblock endtitlepage %}


{% block title %}
{{ system_name }}
{% endblock title %}



{% block content %}
<div class="container-fluid">
<section class="content">
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-header">
<div class="mt-3">
<h3>File <span class="label label-default">Upload:</span></h3>
<hr noshade size="20">
</div>
<div class="mt-3">

<form method="POST" class="form-group mx-sm-1", id="p-form">
    {% csrf_token %}
  {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<hr noshade size="20">

<div id="alert-box"></div>

<div id="msg-box"></div>

</div>
</div>
</div>
</div>
</div>


<div class="row">
<div class="col-12">
<div class="card">
<div class="card-header">
<div class="mt-3">
<h3>Summary <span class="label label-default">Information:</span></h3>
<hr noshade size="20">
</div>
<div class="mt-3">
<div class="card-body">
<table id="applicantTable" class="table table-bordered table-hover">
<thead>
<tr>
<th>Title</th>
<th>Description</th>
<th>File</th>
<th>Date Created</th>
<th>Action</th>
</tr>
</thead>
<form method="POST" class="form-group mx-sm-1", id="tableform">
<tbody id="table-content">


</tbody>
</form>
<tfoot>
<tr>
<th>Title</th>
<th>Description</th>
<th>File</th>
<th>Date Created</th>
<th>Action</th>
</tr>
</tfoot>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</body>
{% endblock content %}




{% block script %}
<!-- Data Tables -->
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/static/plugins/jszip/jszip.min.js"></script>
<script src="/static/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/static/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
  $(function () {
    $('#applicantTable').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
        "order": [[ 3, "desc" ]], //or desc (for descending)
        "columnDefs" : [{"targets":1, "type":"DATE"}],

    });
  });
</script>
<script>
$(document).ready(function() {
    $('#applicantTable').DataTable();
} );
</script>
<!-- /.Data Tables -->
 <script src="/static/dropzone/dist/dropzone.js"></script>
<!--Custom Script-->
<script src="/static/spreadsheet/main.js"></script>
{% endblock script %}
