{% extends "./index.html" %}

{% block indextable %}
<div class="card-body">
<table id="applicantTable" class="table table-bordered table-hover">
<thead>
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Written Work</th>
<th>Performance Task</th>
<th>Initial Grade</th>
<th>Trans M. Grade</th>
</tr>
</thead>
<tbody id="table-content">
</tbody>
<tfoot>
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Written Work</th>
<th>Performance Task</th>
<th>Initial Grade</th>
<th>Trans M. Grade</th>
</tr>
</tfoot>
</table>
</div>
{% endblock indextable %}
