#!/bin/sh
#
# This script will be executed *after* all the other init scripts.
# You can put your own initialization stuff in here if you don't
# want to do the full Sys V style init stuff.
ulimit -SHn 102400
touch /var/lock/subsys/local
sh /bak/bin/iptables.sh
